body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.top {
    background-color: #1F2837;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1024px;
    margin: 0 16px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.links {
    display: flex;
    gap: 16px;
}

.links a {
    color: #e5e7eb;
    font-size: 18px;
}

.hero {
    padding: 48px 16px;
    display: flex;
    width: 1024px;
    justify-content: space-between;
    flex: 1 1 auto;
}

.hero-text {
    
}

.hero-text h1 {
    margin: 0;
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.hero-text p {
    color:#e5e7eb;
    font-size: 18px;
    margin: 8px 0;
    line-height: 24px;
}

.hero-text button {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    padding: 8px 32px;
    border-radius: 5px;
    border-width: 0;
}

.hero-img {
    background-color: #e5e7eb;
    width: 500px;
    height: 200px;
    flex-shrink: 0;
}