body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.top {
    background-color: #1F2837;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1024px;
    margin: 0 16px;
    flex-shrink: 1;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.links {
    display: flex;
    gap: 16px;
}

.links a {
    color: #e5e7eb;
    font-size: 18px;
}

.hero {
    padding: 48px 16px;
    display: flex;
    max-width: 1024px;
    justify-content: space-between;
    flex: 1 1 auto;
}

.hero-text h1 {
    margin: 0;
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.hero-text p {
    color:#e5e7eb;
    font-size: 18px;
    margin: 8px 0;
    line-height: 24px;
}

.hero-text button {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    padding: 8px 32px;
    border-radius: 5px;
    border-width: 0;
}

.hero-img {
    background-color: #e5e7eb;
    width: 500px;
    height: 200px;
    flex-shrink: 0;
}

.information {
    color: #1F2837;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 56px;
}

.information h2 {
    font-size: 36px;
    font-weight: bolder;
    margin: 36px;
}

.info-cards {
    max-width: 1024px;
    display: flex;
    gap: 36px;
    justify-content: center;
}

.card-img {
    height: 150px;
    width: 150px;
    border: 5px solid #3882f6;
    border-radius: 10px;
}

.card p {
    text-align: center;
    width: 155px;
    margin: 8px auto;
}

.quote-section {
    background-color: #e5e7eb;
    padding: 75px 16px 60px;
}

.quote {
    max-width: 640px;
    margin: auto;
}

.quote-text {
    color: #1F2837;
    font-size: 28px;
    font-weight:200;
    font-style: italic;
    line-height: 36px;
    margin-bottom: 8px;
}

.quote-author {
    font-size: 22px;
    font-weight: 600;
    text-align: end;
    margin-top: 0;
}
